# 13. 함수 적용

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df['학교'] = df['학교'] + '등학교'
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python
2번    정대만  북산고등학교  184   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168   80   75   70  80  75  Javascript
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#

In [4]:
df['키'] = df['키'] + 'cm'
df

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U2')) -> None

## 데이터에 함수 적용 (apply)

In [5]:
# 키 뒤에 cm 을 붙이는 역할
def add_cm(height):
    return str(height) + 'cm'

df['키'] = df['키'].apply(add_cm) # 키 데이터에 대해서 add_cm 함수를 호출한 결과 데이터를 반영
df

       이름      학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197cm   90   85  100  95  85      Python
2번    정대만  북산고등학교  184cm   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고등학교  187cm   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202cm   80  100   95  85  80           C
7번    황태산  능남고등학교  188cm   55   65   45  40  35      PYTHON
8번    윤대협  능남고등학교  190cm  100   85   90  95  95          C#

In [6]:
def capitalize(lang):
    if pd.notnull(lang): # NaN 이 아닌지
        return lang.capitalize() # 첫 글자는 대문자로, 나머지는 소문자로
    return lang

df['SW특기'] = df['SW특기'].apply(capitalize)
df

       이름      학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고등학교  197cm   90   85  100  95  85      Python
2번    정대만  북산고등학교  184cm   40   35   50  55  25        Java
3번    송태섭  북산고등학교  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고등학교  187cm   40   60   70  75  80         NaN
5번    강백호  북산고등학교  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202cm   80  100   95  85  80           C
7번    황태산  능남고등학교  188cm   55   65   45  40  35      Python
8번    윤대협  능남고등학교  190cm  100   85   90  95  95          C#

# 함수 적용
함수 적용 요리조리

In [3]:
import pandas as pd
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [4]:
df['성별'] = df['성별'] + '자'
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자  153  42  78   4  39   4      Python
2번    권석현  남자  144  17  68  92  79  91        Java
3번    김세은  여자  152   5  97  99  48  65      Python
4번    김재익  남자  142  54  94   8  19  50           C
5번    김주하  여자  146  39  63  80  67  64         NaN
6번    김주헌  남자  147  49  41  92   7  13         NaN
7번    박소을  여자  141  13  24  28  62  65           C
8번    박지나  여자  149  25  37  72  32  37          C#
9번    박지수  여자  145  15  20  53  18  23          C#
10번   서연제  남자  152  13  72   8  96  64  Javascript
11번   성용혁  남자  147  15  26  44  68  20        Java
12번   송시윤  여자  150  13  55  46  17  77        Java
13번   신소현  여자  141  69   0  63  71   1          C#
14번   윤서진  여자  148  88  76  57  76  31      Python
15번   윤지율  남자  149  60  11  32  81   9      PYTHON
16번   이가연  여자  140  64   9  76  11  68          C#
17번   이서연  여자  149  12  24  13  83  41          C#
18번   이지환  남자  140  15   3  64  61  67           C
19번   임라온  남자  152  94   4  90  32  92          C#
20번   전유준  남자  159  49  25  33  22  85      PYTHON
21번   전윤서  여자  156  44  88  16  26  53      Python
22번   조예원  여자  150  30  34  75  75  62        Java
23번    조율  남자  151  23  43  99  12  49      PYTHON
24번   조재현  남자  143   6   6  25  58  65         NaN
25번   최아리  여자  159  37  30  77  29  73      Python
26번   태정민  남자  155  98  84   3  90  56  Javascript
27번   한바름  남자  155   3  20  27  38  63      PYTHON
28번   함지율  여자  155  38  47  89  60  39          C#
29번   주민성  남자  146   7  22   1  73  68           C

In [5]:
df['키'] = df['키'] + 'cm'
df

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U2')) -> None

In [6]:
def add_cm(height):
    return str(height) + 'cm'

df['키'] = df['키'].apply(add_cm)
df

       이름  성별      키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자  153cm  42  78   4  39   4      Python
2번    권석현  남자  144cm  17  68  92  79  91        Java
3번    김세은  여자  152cm   5  97  99  48  65      Python
4번    김재익  남자  142cm  54  94   8  19  50           C
5번    김주하  여자  146cm  39  63  80  67  64         NaN
6번    김주헌  남자  147cm  49  41  92   7  13         NaN
7번    박소을  여자  141cm  13  24  28  62  65           C
8번    박지나  여자  149cm  25  37  72  32  37          C#
9번    박지수  여자  145cm  15  20  53  18  23          C#
10번   서연제  남자  152cm  13  72   8  96  64  Javascript
11번   성용혁  남자  147cm  15  26  44  68  20        Java
12번   송시윤  여자  150cm  13  55  46  17  77        Java
13번   신소현  여자  141cm  69   0  63  71   1          C#
14번   윤서진  여자  148cm  88  76  57  76  31      Python
15번   윤지율  남자  149cm  60  11  32  81   9      PYTHON
16번   이가연  여자  140cm  64   9  76  11  68          C#
17번   이서연  여자  149cm  12  24  13  83  41          C#
18번   이지환  남자  140cm  15   3  64  61  67           C
19번   임라온  남자  152cm  94   4  90  32  92          C#
20번   전유준  남자  159cm  49  25  33  22  85      PYTHON
21번   전윤서  여자  156cm  44  88  16  26  53      Python
22번   조예원  여자  150cm  30  34  75  75  62        Java
23번    조율  남자  151cm  23  43  99  12  49      PYTHON
24번   조재현  남자  143cm   6   6  25  58  65         NaN
25번   최아리  여자  159cm  37  30  77  29  73      Python
26번   태정민  남자  155cm  98  84   3  90  56  Javascript
27번   한바름  남자  155cm   3  20  27  38  63      PYTHON
28번   함지율  여자  155cm  38  47  89  60  39          C#
29번   주민성  남자  146cm   7  22   1  73  68           C

In [7]:
def capitalize(lang):
    if pd.notnull(lang):
        return lang.capitalize()
    return lang

df['SW특기'] = df['SW특기'].apply(capitalize)
df

       이름  성별      키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자  153cm  42  78   4  39   4      Python
2번    권석현  남자  144cm  17  68  92  79  91        Java
3번    김세은  여자  152cm   5  97  99  48  65      Python
4번    김재익  남자  142cm  54  94   8  19  50           C
5번    김주하  여자  146cm  39  63  80  67  64         NaN
6번    김주헌  남자  147cm  49  41  92   7  13         NaN
7번    박소을  여자  141cm  13  24  28  62  65           C
8번    박지나  여자  149cm  25  37  72  32  37          C#
9번    박지수  여자  145cm  15  20  53  18  23          C#
10번   서연제  남자  152cm  13  72   8  96  64  Javascript
11번   성용혁  남자  147cm  15  26  44  68  20        Java
12번   송시윤  여자  150cm  13  55  46  17  77        Java
13번   신소현  여자  141cm  69   0  63  71   1          C#
14번   윤서진  여자  148cm  88  76  57  76  31      Python
15번   윤지율  남자  149cm  60  11  32  81   9      Python
16번   이가연  여자  140cm  64   9  76  11  68          C#
17번   이서연  여자  149cm  12  24  13  83  41          C#
18번   이지환  남자  140cm  15   3  64  61  67           C
19번   임라온  남자  152cm  94   4  90  32  92          C#
20번   전유준  남자  159cm  49  25  33  22  85      Python
21번   전윤서  여자  156cm  44  88  16  26  53      Python
22번   조예원  여자  150cm  30  34  75  75  62        Java
23번    조율  남자  151cm  23  43  99  12  49      Python
24번   조재현  남자  143cm   6   6  25  58  65         NaN
25번   최아리  여자  159cm  37  30  77  29  73      Python
26번   태정민  남자  155cm  98  84   3  90  56  Javascript
27번   한바름  남자  155cm   3  20  27  38  63      Python
28번   함지율  여자  155cm  38  47  89  60  39          C#
29번   주민성  남자  146cm   7  22   1  73  68           C